<div class="p-6 mt-12">
  <div class="fixed w-full top-4 right-4">    
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">   
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a routerLink="/user" routerLinkActive="active-class">User</a>
            </li> 
            <li>
              <a routerLink="/user-compound" routerLinkActive="active-class">User Compound Index</a>
            </li>          
          </ul>
        </div>
        <div class="flex md:order-2">
          <button
            class="bg-red-600 text-gray-200 p-2 rounded hover:bg-red-500 hover:text-gray-100"
            (click)="logout()"
          >
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout            
          </button>
        </div>
      </div>
    </nav>    
  </div>
</div>
<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <div class="bg-gray-50 px-6 py-4 flex items-center justify-between">
    <h2 class="font-medium text-gray-900 mr-4">Demonstration of Compound Indexes</h2>
    
    <div class="flex items-center">
      <label for="searchText" class="text-sm font-medium text-gray-700 mr-2">Search Text (Searches on first and last name)</label>
      <input
        type="text"
        id="searchText"
        #searchText
        name="searchText"
        required
        class="border border-gray-300 rounded-l-md p-2 mr-2"
      />
      <button
        type="button"
        (click)="getUsersData(searchText.value)"
        class="bg-blue-500 text-white py-2 px-4 rounded-r-md">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </div>
    <table
      class="w-full border-collapse bg-white text-left text-sm text-gray-500"
    >
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            First Name
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            Last Name
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Email</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            Phone Number
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr *ngIf="(users$ | async)?.length === 0">
          <td colspan="5" class="text-center py-4 text-gray-700">
            No records found.
          </td>
        </tr>
        <tr *ngFor="let user of users$ | async" class="hover:bg-gray-50">
          <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
            <div class="text-sm">
              <div class="font-medium text-gray-700">{{ user.firstName }}</div>
            </div>
          </th>
          <td class="px-6 py-4">{{ user.lastName }}</td>
          <td class="px-6 py-4">{{ user.email }}</td>
          <td class="px-6 py-4">{{ user.mobileNumber }}</td>     
        </tr>
      </tbody>
    </table>
  </div>